<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container" style="width: 600px; margin-top: 40px;">
        <div class="row">
            <div class="col-xs-12">
                      欢迎，<%= title %>
            </div>
        </div>
    </div>

</body>
</html>
